In [1]:
import pandas as pd

In [2]:
games = pd.read_csv("NCAA_Data_Working.csv", index_col=0)

In [3]:
games = games.reset_index()

In [4]:
games

,g,date,venue,opp,w/l,tm,opp.1,fg,fga,fg%,...,ft%.1,orb.1,trb.1,ast.1,stl.1,blk.1,tov.1,pf.1,season,team
0,1,2023-11-06,@,Oklahoma State,W,64.0,59.0,26.0,57.0,0.456,...,0.400,6.0,32.0,13.0,9.0,2.0,12.0,16.0,2024,abilene christian
1,2,2023-11-10,@,NC State,L,64.0,84.0,20.0,57.0,0.351,...,0.833,12.0,34.0,12.0,4.0,3.0,7.0,20.0,2024,abilene christian
2,3,2023-11-14,NaN,Prairie View,L,74.0,79.0,23.0,60.0,0.383,...,0.971,8.0,34.0,7.0,8.0,5.0,14.0,23.0,2024,abilene christian
3,4,2023-11-17,N,San Jose State,W,77.0,71.0,25.0,59.0,0.424,...,0.583,9.0,35.0,13.0,4.0,3.0,6.0,18.0,2024,abilene christian
4,5,2023-11-19,N,Fordham,W,59.0,45.0,22.0,55.0,0.400,...,0.571,16.0,41.0,3.0,5.0,3.0,19.0,16.0,2024,abilene christian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23980,30,2023-02-21,@,Robert Morris,L,64.0,83.0,23.0,47.0,0.489,...,0.778,4.0,24.0,14.0,6.0,7.0,12.0,17.0,2023,youngstown state
23981,31,2023-02-25,@,IU Indianapolis,W,93.0,79.0,34.0,59.0,0.576,...,0.636,8.0,25.0,15.0,4.0,4.0,12.0,18.0,2023,youngstown state
23982,32,2023-03-02,NaN,Detroit Mercy,W,71.0,66.0,24.0,55.0,0.436,...,0.857,13.0,36.0,11.0,5.0,3.0,13.0,21.0,2023,youngstown state
23983,33,2023-03-06,N,Northern Kentucky,L,63.0,75.0,24.0,53.0,0.453,...,0.737,16.0,32.0,6.0,6.0,2.0,2.0,18.0,2023,youngstown state
23984,34,2023-03-15,NaN,Oklahoma State,L,64.0,69.0,22.0,62.0,0.355,...,0.867,15.0,45.0,13.0,3.0,6.0,9.0,15.0,2023,youngstown state

In [5]:
games["team"].value_counts()

team
connecticut             79
san diego state         76
indiana state           75
north carolina state    75
houston                 74
                        ..
dartmouth               56
harvard                 55
le moyne                33
st francis ny           30
hartford                28
Name: count, Length: 364, dtype: int64

In [6]:
games.dtypes

g                        int64
date                    object
venue                   object
opp                     object
w/l                     object
tm                     float64
opp.1                  float64
fg                     float64
fga                    float64
fg%                    float64
3p                     float64
3pa                    float64
3p%                    float64
ft                     float64
fta                    float64
ft%                    float64
orb                    float64
trb                    float64
ast                    float64
stl                    float64
blk                    float64
tov                    float64
pf                     float64
unnamed: 23_level_1    float64
fg.1                   float64
fga.1                  float64
fg%.1                  float64
3p.1                   float64
3pa.1                  float64
3p%.1                  float64
ft.1                   float64
fta.1                  float64
ft%.1                  float64
orb.1                  float64
trb.1                  float64
ast.1                  float64
stl.1                  float64
blk.1                  float64
tov.1                  float64
pf.1                   float64
season                   int64
team                    object
dtype: object

In [7]:
games["date"] = pd.to_datetime(games["date"])

In [8]:
games["venue_code"] = games["venue"].astype("category").cat.codes #away = 0, home = -1, neutral = 1

In [9]:
games

,g,date,venue,opp,w/l,tm,opp.1,fg,fga,fg%,...,orb.1,trb.1,ast.1,stl.1,blk.1,tov.1,pf.1,season,team,venue_code
0,1,2023-11-06,@,Oklahoma State,W,64.0,59.0,26.0,57.0,0.456,...,6.0,32.0,13.0,9.0,2.0,12.0,16.0,2024,abilene christian,0
1,2,2023-11-10,@,NC State,L,64.0,84.0,20.0,57.0,0.351,...,12.0,34.0,12.0,4.0,3.0,7.0,20.0,2024,abilene christian,0
2,3,2023-11-14,NaN,Prairie View,L,74.0,79.0,23.0,60.0,0.383,...,8.0,34.0,7.0,8.0,5.0,14.0,23.0,2024,abilene christian,-1
3,4,2023-11-17,N,San Jose State,W,77.0,71.0,25.0,59.0,0.424,...,9.0,35.0,13.0,4.0,3.0,6.0,18.0,2024,abilene christian,1
4,5,2023-11-19,N,Fordham,W,59.0,45.0,22.0,55.0,0.400,...,16.0,41.0,3.0,5.0,3.0,19.0,16.0,2024,abilene christian,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23980,30,2023-02-21,@,Robert Morris,L,64.0,83.0,23.0,47.0,0.489,...,4.0,24.0,14.0,6.0,7.0,12.0,17.0,2023,youngstown state,0
23981,31,2023-02-25,@,IU Indianapolis,W,93.0,79.0,34.0,59.0,0.576,...,8.0,25.0,15.0,4.0,4.0,12.0,18.0,2023,youngstown state,0
23982,32,2023-03-02,NaN,Detroit Mercy,W,71.0,66.0,24.0,55.0,0.436,...,13.0,36.0,11.0,5.0,3.0,13.0,21.0,2023,youngstown state,-1
23983,33,2023-03-06,N,Northern Kentucky,L,63.0,75.0,24.0,53.0,0.453,...,16.0,32.0,6.0,6.0,2.0,2.0,18.0,2023,youngstown state,1
23984,34,2023-03-15,NaN,Oklahoma State,L,64.0,69.0,22.0,62.0,0.355,...,15.0,45.0,13.0,3.0,6.0,9.0,15.0,2023,youngstown state,-1

In [10]:
games.dtypes

g                               int64
date                   datetime64[ns]
venue                          object
opp                            object
w/l                            object
tm                            float64
opp.1                         float64
fg                            float64
fga                           float64
fg%                           float64
3p                            float64
3pa                           float64
3p%                           float64
ft                            float64
fta                           float64
ft%                           float64
orb                           float64
trb                           float64
ast                           float64
stl                           float64
blk                           float64
tov                           float64
pf                            float64
unnamed: 23_level_1           float64
fg.1                          float64
fga.1                         float64
fg%.1                         float64
3p.1                          float64
3pa.1                         float64
3p%.1                         float64
ft.1                          float64
fta.1                         float64
ft%.1                         float64
orb.1                         float64
trb.1                         float64
ast.1                         float64
stl.1                         float64
blk.1                         float64
tov.1                         float64
pf.1                          float64
season                          int64
team                           object
venue_code                       int8
dtype: object

In [11]:
import re

In [12]:
games["opp_code"] = games["opp"].astype("category").cat.codes

In [13]:
games["day_code"] = games["date"].dt.dayofweek

In [14]:
nan_values = games["w/l"].isnull()

In [15]:
nan_values

0        False
1        False
2        False
3        False
4        False
         ...
23980    False
23981    False
23982    False
23983    False
23984    False
Name: w/l, Length: 23985, dtype: bool

In [17]:
import numpy as np

In [18]:
games["target"] = np.where(games["w/l"].str.startswith("W"), 1, 0)

In [23]:
games.loc[39]

g                                        6
date                   2023-11-19 00:00:00
venue                                  NaN
opp                                  Omaha
w/l                                      W
tm                                    58.0
opp.1                                 56.0
fg                                    19.0
fga                                   44.0
fg%                                  0.432
3p                                     7.0
3pa                                   25.0
3p%                                   0.28
ft                                    13.0
fta                                   17.0
ft%                                  0.765
orb                                    4.0
trb                                   33.0
ast                                   10.0
stl                                    4.0
blk                                    6.0
tov                                   13.0
pf                                    17.0
unnamed: 23_level_1                    NaN
fg.1                                  20.0
fga.1                                 57.0
fg%.1                                0.351
3p.1                                   5.0
3pa.1                                 14.0
3p%.1                                0.357
ft.1                                  11.0
fta.1                                 16.0
ft%.1                                0.688
orb.1                                  8.0
trb.1                                 25.0
ast.1                                  8.0
stl.1                                  8.0
blk.1                                  0.0
tov.1                                 10.0
pf.1                                  17.0
season                                2024
team                             air force
venue_code                              -1
opp_code                               524
day_code                                 6
target                                   1
Name: 39, dtype: object